
.fundo {
    position: absolute;
    width: 50vw;
    height: 40vh;
    background-image:url(../img/grama.jpg);
    text-align: center;
    display: flex;
    top: 5vw;
    left:20vw;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/moldura.jpg) 100 round;
  }
  
.painel {
   position: absolute;
     top: 40vw; 
     left:10vw;  
    text-align: center;
    background-color: rgb(83, 83, 83);
    border-color: rgb(255, 0, 0);
}  
#div2 {
   position: absolute; 
    top: 5vw; 
    left: 5vw; 
    width: 3vw; 
    height: 5vw; 
    text-align: center;
}

#div1 {
   position: absolute; 
    top: 15vw;
    left: 15vw; 
    width: 5vw; 
    height: 5vw; 
    text-align: center;
}
img{
   width: 100%;
}
